<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>День рождения</title>
</head>
<body>

<h2>Добавление дня рождения</h2>

<form th:action="@{/birthdays}" th:object="${birthday}" method="post">

    <div>
        <label>Имя:</label>
        <input type="text" th:field="*{personName}">
    </div>

    <div>
        <label>Дата:</label>
        <input type="date" th:field="*{birthdayDate}">
    </div>

    <button type="submit">Сохранить</button>
</form>

<a th:href="@{/birthdays}">Назад</a>

</body>
</html>
