<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Подарки</title>
</head>
<body>

<h2>Подарки</h2>

<a th:href="@{/gifts/new/{id}(id=${birthdayId})}">Добавить подарок</a>

<table border="1">
  <tr>
    <th>Название</th>
    <th>Цена</th>
    <th></th>
  </tr>

  <tr th:each="g : ${gifts}">
    <td th:text="${g.giftName}"></td>
    <td th:text="${g.price}"></td>
    <td>
      <a th:href="@{/gifts/delete/{id}(id=${g.id})}">Удалить</a>
    </td>
  </tr>
</table>

<a th:href="@{/birthdays}">Назад</a>

</body>
</html>
